<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <catalog>
            <home_favorite>
                <enabled>1</enabled>
                <count>8</count>
                <title>Memorial Bracelets Favorites</title>
            </home_favorite>
        </catalog>
    </default>
</config>