<?xml version="1.0" encoding="utf-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MemorialBracelets_IconOption" setup_version="100.0.2">
        <sequence>
            <module name="Magento_Backend" />
            <module name="Magento_Mediastorage" />
            <module name="Magento_Store" />
            <module name="Magento_Ui" />
            <module name="Magento_Catalog" />
            <module name="Magento_Swatches" />
            <module name="MemorialBracelets_ExtensibleCustomOption" />
        </sequence>
    </module>
</config>
