<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Model\Url">
        <plugin name="aw-giftcard-model-url-plugin" type="Aheadworks\Giftcard\Model\Plugin\Adminhtml\Model\Url" sortOrder="1" disabled="false" />
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="giftcardTemplates" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Giftcard\Ui\DataProvider\Product\Form\Modifier\Templates</item>
                    <item name="sortOrder" xsi:type="number">15</item>
                </item>
                <item name="giftcardAmounts" xsi:type="array">
                    <item name="class" xsi:type="string">Aheadworks\Giftcard\Ui\DataProvider\Product\Form\Modifier\Amounts</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
</config>
