<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="memorialbracelets_engraving_order_status_changed" instance="MemorialBracelets\Engraving\Observer\OrderStatusChanged"/>
    </event>
</config>
