<div class="admin__field aw_gc_template_image" visible="visible" css="$data.additionalClasses">
    <div class="admin__field-control" css="'_with-tooltip': $data.tooltip">
        <div class="file-uploader" data-role="drop-zone" css="_loading: isLoading">
            <each args="data: value, as: '$file'" render="$parent.getPreviewTmpl($file)"/>
            <div class="image image-placeholder" afterRender="onPlaceholderRender">
                <input type="file" afterRender="onElementRender" attr="id: uid, name: fileInputName" disable="disabled" />
                <img class="spacer" attr="src: imageSpacer">
                <p class="image-placeholder-text" translate=imagePlaceholderText></p>
                <!--<span class="file-uploader-spinner"/>-->
                <!--<render args="fallbackResetTpl" if="$data.showFallbackReset && $data.isDifferedFromDefault"/>-->
            </div>
            <render args="tooltipTpl" if="$data.tooltip"/>
            <div class="admin__field-note" if="$data.notice" attr="id: noticeId">
                <span html="notice"/>
            </div>
            <label class="admin__field-error" if="error" attr="for: uid" text="error"/>
        </div>
        <input type="hidden" afterRender="onHiddenValueRender" value="" attr="id: uid, name: inputName">
    </div>
</div>
