<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Option">
        <plugin name="MemorialBracelets_EngravingDisplay_Product_Option_Override" type="MemorialBracelets\EngravingDisplay\Plugin\Around" sortOrder="1" disabled="false" />
    </type>
    <type name="MemorialBracelets\ExtensibleCustomOption\Model\ResourceModel\Product\Option">
        <plugin name="MemorialBracelets_EngravingDisplay_Save_Option_Price" type="MemorialBracelets\EngravingDisplay\Plugin\SavePrice" sortOrder="1" disabled="false" />
    </type>
</config>
