<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Pdf\Total\DefaultTotal">
        <plugin name="PdfGiftCard" type="MemorialBracelets\GiftCard\Plugin\OrderPdf\GiftCard" sortOrder="1" />
    </type>
</config>