<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MemorialBracelets_ExtensibleCustomOption::shared_options"
             title="Shared Custom Options"
             sortOrder="45"
             module="MemorialBracelets_ExtensibleCustomOption"
             parent="Magento_Catalog::catalog"
             action="charmoption/index"
             resource="Magento_Backend::content"
        />
    </menu>
</config>
