############################################
## Optional override of deployment mode. We recommend you use the
## command bin/magento deploy:mode:set to switch modes instead

#   SetEnv MAGE_MODE default # or production or developer

############################################
## Uncomment these lines for CGI mode.
## Make sure to specify the correct cgi php binary file name
## it might be /cgi-bin/php-cgi

#    Action php5-cgi /cgi-bin/php5-cgi
#    AddHandler php5-cgi .php

############################################
## GoDaddy specific options

#   Options -MultiViews

## You might also need to add this line to php.ini
##     cgi.fix_pathinfo = 1
## If it still doesn't work, rename php.ini to php5.ini

############################################
## This line is specific for 1and1 hosting

    #AddType x-mapp-php5 .php
    #AddHandler x-mapp-php5 .php

############################################
## Default index file

    DirectoryIndex index.php

<IfModule mod_php5.c>
############################################
## Adjust memory limit

    php_value memory_limit 768M
    php_value max_execution_time 18000

############################################
## Disable automatic session start
## before autoload was initialized

    php_flag session.auto_start off

############################################
## Enable resulting html compression

    #php_flag zlib.output_compression on

###########################################
# Disable user agent verification to not break multiple image upload

    php_flag suhosin.session.cryptua off
</IfModule>
<IfModule mod_php7.c>
############################################
## Adjust memory limit

    php_value memory_limit 768M
    php_value max_execution_time 18000

############################################
## Disable automatic session start
## before autoload was initialized

    php_flag session.auto_start off

############################################
## Enable resulting html compression

    #php_flag zlib.output_compression on

###########################################
# Disable user agent verification to not break multiple image upload

    php_flag suhosin.session.cryptua off
</IfModule>


<IfModule mod_security.c>
###########################################
# Disable POST processing to not break multiple image upload

    SecFilterEngine Off
    SecFilterScanPOST Off
</IfModule>

<IfModule mod_deflate.c>

############################################
## Enable apache served files compression
## http://developer.yahoo.com/performance/rules.html#gzip

    # Insert filter on all content
    ###SetOutputFilter DEFLATE
    # Insert filter on selected content types only
    #AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript

    # Netscape 4.x has some problems...
    #BrowserMatch ^Mozilla/4 gzip-only-text/html

    # Netscape 4.06-4.08 have some more problems
    #BrowserMatch ^Mozilla/4\.0[678] no-gzip

    # MSIE masquerades as Netscape, but it is fine
    #BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

    # Don't compress images
    #SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary

    # Make sure proxies don't deliver the wrong content
    #Header append Vary User-Agent env=!dont-vary

</IfModule>

<IfModule mod_ssl.c>

############################################
## Make HTTPS env vars available for CGI mode

    SSLOptions StdEnvVars

</IfModule>

<IfModule mod_rewrite.c>

############################################
## Enable rewrites

    Options +FollowSymLinks
    RewriteEngine on

    # Redirects all URIs with the pattern: /template.php?key=value to /customize-a-product
        RewriteCond %{REQUEST_URI} ^\/template\.php$
        RewriteRule ^ /customize-a-product? [R=301,L]

        # Names redirects
        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=11
        RewriteRule ^ /find-a-name/terrorism/9-11/9-11-world-trade-center? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=87
        RewriteRule ^ /find-a-name/terrorism/1993-wtc-bombing? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=12
        RewriteRule ^ /find-a-name/terrorism/9-11-american-flight-11? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=14
        RewriteRule ^ /find-a-name/terrorism/9-11-american-flight-77? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=16
        RewriteRule ^ /find-a-name/terrorism/9-11-pentagon? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=13
        RewriteRule ^ /find-a-name/terrorism/9-11-united-flight-175? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=15
        RewriteRule ^ /find-a-name/terrorism/9-11-united-flight-175? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=45
        RewriteRule ^ /find-a-name/terrorism/bali-terrorist-attack? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=88
        RewriteRule ^ /find-a-name/terrorism/fort-hood-shooting? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=99
        RewriteRule ^ /find-a-name/terrorism/nairobi-u-s-embassy-bombing? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=46
        RewriteRule ^ /find-a-name/terrorism/oklahoma-city-bombing? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=97
        RewriteRule ^ /find-a-name/terrorism/pan-am-flight-103? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=93
        RewriteRule ^ /find-a-name/terrorism? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=19
        RewriteRule ^ /find-a-name/kia/enduring-freedom? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=17
        RewriteRule ^ /find-a-name/kia/gulf-war? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=86
        RewriteRule ^ /find-a-name/kia/beirut-barracks? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=94
        RewriteRule ^ /find-a-name/kia/gothic-serpent? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=89
        RewriteRule ^ /find-a-name/kia/khobar-towers? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=21
        RewriteRule ^ /find-a-name/kia/uss-cole? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=29
        RewriteRule ^ /find-a-name/kia/iraqi-freedom? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=90
        RewriteRule ^ /find-a-name/kia/new-dawn? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=34
        RewriteRule ^ /find-a-name/pow-mia/vietnam-war-prisoners-of-war? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=23
        RewriteRule ^ /find-a-name/kia/enduring-freedom? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=20
        RewriteRule ^ /find-a-name/pow-mia? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=44
        RewriteRule ^ /find-a-name/pow-mia/vietnam-war-returnee? [R=301,L]

        RewriteCond %{REQUEST_URI} ^\/names\.php$
        RewriteCond %{QUERY_STRING} ^eventID=96
        RewriteRule ^ /find-a-name/pow-mia/civilian-hostages? [R=301,L]

############################################
## You can put here your magento root folder
## path relative to web root

    #RewriteBase /magento/

############################################
## Workaround for HTTP authorization
## in CGI environment

    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

############################################
## TRACE and TRACK HTTP methods disabled to prevent XSS attacks

    RewriteCond %{REQUEST_METHOD} ^TRAC[EK]
    RewriteRule .* - [L,R=405]

############################################
## Never rewrite for existing files, directories and links

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

############################################
## Rewrite everything else to index.php

    RewriteRule .* index.php [L]

</IfModule>


############################################
## Prevent character encoding issues from server overrides
## If you still have problems, use the second line instead

    AddDefaultCharset Off
    #AddDefaultCharset UTF-8

<IfModule mod_expires.c>

############################################
## Add default Expires header
## http://developer.yahoo.com/performance/rules.html#expires

    ExpiresDefault "access plus 1 year"
    ExpiresByType text/html A0
    ExpiresByType text/plain A0

</IfModule>

###########################################
## Deny access to release notes to prevent disclosure of the installed Magento version

    <Files RELEASE_NOTES.txt>
        order allow,deny
        deny from all
    </Files>

# For 404s and 403s that aren't handled by the application, show plain 404 response
ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/404.php

############################################
## If running in cluster environment, uncomment this
## http://developer.yahoo.com/performance/rules.html#etags

    #FileETag none

###########################################
## Deny access  to cron.php
    <Files cron.php>
        order allow,deny
        deny from all
    </Files>

<IfModule mod_headers.c>
    ############################################
    ## Prevent clickjacking
    Header set X-Frame-Options SAMEORIGIN
</IfModule>

# non-query-strings redirects.
Redirect 301 /kia.php /find-a-name/kia
Redirect 301 /customized.php /customize-a-product
Redirect 301 /supportive/untiltheyallcomehome.php /customize-a-product
Redirect 301 /powmia.php /find-a-name/pow-mia
Redirect 301 /terrorism.php /find-a-name/terrorism

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php70” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php70 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
