<div class="payment-option _collapsible opc-payment-additional aw-giftcard-code-payment-option"
     data-bind="mageInit: {'collapsible':{'openedState': '_active'}}">
    <div class="payment-option-title field choice" data-role="title">
        <span class="action action-toggle" id="block-aw-giftcard-heading" role="heading" aria-level="2">
            <!-- ko i18n: 'Gift Card'--><!-- /ko -->
        </span>
    </div>
    <div class="payment-option-content" data-role="content" data-bind="blockLoader: isLoading">
        <!-- ko if: isCustomerGiftCardsDisplayed() -->
        <div id="aw-giftcard-codes-block" class="block">
            <div class="block-title">
                <h2><!-- ko i18n: 'Your gift card codes'--><!-- /ko --></h2>
            </div>
            <div class="block-content">
                <div class="box">
                    <div class="box-content">
                        <table>
                            <tbody>
                            <!-- ko foreach: { data: getCustomerGiftCardData(), as: 'giftCard' } -->
                            <tr data-bind="attr: {'data-giftcard-code': giftCard.code }">
                                <td class="code" data-bind="html: giftCard.code"></td>
                                <td class="balance" data-bind="text: $parent.formatPrice(giftCard.balance)"></td>
                                <td class="action-apply"><a href="#" data-bind="attr: {'title': $t('Apply') }, click: $parent.applyByCode"><!-- ko i18n: 'Apply'--><!-- /ko --></a></td>
                            </tr>
                            <!-- /ko -->
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
        <form class="form form-aw-giftcard" id="aw-giftcard-form">
            <div class="payment-option-inner">
                <div class="field">
                    <label class="label" for="giftcard_code">
                        <span data-bind="i18n: 'Enter your gift card code'"></span>
                    </label>
                    <div class="control">
                        <input class="input-text"
                               type="text"
                               id="giftcard_code"
                               name="giftcard_code"
                               data-validate="{'required-entry':true}"
                               data-bind="value: giftCardCode, attr:{placeholder: $t('Enter your gift card code')} " />
                    </div>
                </div>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button class="action action-apply" type="submit" data-bind="'value': $t('Apply'), click: apply">
                        <span><!-- ko i18n: 'Apply'--><!-- /ko --></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
